<h2><img src=""></h2>

<div class="container">

	<div class="row">

		<div class="col-md-12">

			<div class="clock">
				<h2>Bit Clock</h2>
			</div>

			<div class="header--center header__large">
	  			<p><%= @response.inspect %></p>
			</div><!-- end of test -->

			<div class="header--center header__large">
	  			<p><%= @price.inspect %></p>
			</div><!-- end of test -->

		</div>

	</div> <!-- end of row -->

</div><!-- end of container -->
